/* -----------------------------------------------------------------------
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/* -----------------------------------------------------------------------
 * light theme
 */
:root {
  --primary: #3fb195;
  --light-primary: #d9efea;
  --pale-primary: #f0f9f7;
  --text-primary: #222222;
  --text-second: #666666;
  --text-tertiary: #9e9e9e;
  --background-primary: #ffffff;
  --background-second: #fafafa;
  --line: #ebebeb;
}

/* -----------------------------------------------------------------------
 * dark theme
 */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #3fb195;
    --light-primary: #d9efea;
    --pale-primary: #f0f9f7;
    --text-primary: #222222;
    --text-second: #666666;
    --text-tertiary: #9e9e9e;
    --background-primary: #ffffff;
    --background-second: #fafafa;
    --line: #ebebeb;
  }
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
