/* -----------------------------------------------------------------------
 * 主要
 */
$primary: (var(--primary));
$light-primary: (var(--light-primary));
$pale-primary: (var(--pale-primary));
$text-primary: (var(--text-primary));
$text-second: (var(--text-second));
$text-tertiary: (var(--text-tertiary));
$background-white: (var(--background-white));
$background-gray: (var(--background-gray));
$line: (var(--line));
