/* -----------------------------------------------------------------------
 * 主要
 */
   .swiperBox {
    width: 100%;
    height: 100%;
    /* -----------------------------------------------------------------------
     * swiper & swiper slide
     */
    > .swiper {
      width: 100%;
      height: 100%;
      padding: 2px; // 加上才看得到 shadow

      .swiperSlide {
        width: 74%;
        margin-right: 20px;

        @include tablet {
          width: 31.8%;
        }

        /* -----------------------------------------------------------------------
         * card link
         */
        > .perCard {
          display: block;
          text-decoration: none;
          border-radius: 16px;
          color: $text_primary;
          background: $background_white;

          /* -----------------------------------------------------------------------
           * card img
           */
          > .img {
            width: 100%;
            height: 100%;
            border-radius: 16px 16px 0 0;

            background-color: lightgray;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            padding-bottom: 65%;
          }

          /* -----------------------------------------------------------------------
           * card content
           */
          > .content {
            padding: 8px 16px;

            > h3 {
              font-weight: 700;
              font-size: 1.28rem; // 18px
              letter-spacing: 0.15px;
              color: $text_primary;

              // 多行文字省略號
              -webkit-line-clamp: 1;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              word-break: break-word;
            }

            > .intro {
              margin-top: 10px;

              display: flex;
              align-items: center;

              > svg {
                flex-shrink: 0;
                margin-right: 5px;
                width: 1.28rem; // 18px
                fill: $tertiary;
              }

              > p {
                font-weight: 400;
                font-size: 1rem; // 14px
                letter-spacing: 0.25px;
                color: $text_second;

                // 多行文字省略號
                -webkit-line-clamp: 1;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                word-break: break-word;
              }
            }
          }
        }
      }
    }
  }

