/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/* -----------------------------------------------------------------------
 * font
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-y: scroll;
}

/* -----------------------------------------------------------------------
 * light theme
 */
:root {
  --primary: #3fb195;
  --light_primary: #d9efea;
  --pale_primary: #f0f9f7;
  --text_primary: #222222;
  --text_second: #666666;
  --text_tertiary: #9e9e9e;
  --background_white: #ffffff;
  --background_gray: #fafafa;
  --line: #ebebeb;
}

/* -----------------------------------------------------------------------
 * dark theme
 */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #3fb195;
    --light_primary: #d9efea;
    --pale_primary: #f0f9f7;
    --text_primary: #222222;
    --text_second: #666666;
    --text_tertiary: #9e9e9e;
    --background_white: #ffffff;
    --background_gray: #fafafa;
    --line: #ebebeb;
  }
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
