/* -----------------------------------------------------------------------
 * 主要
 */
$primary: (var(--primary));
$light_primary: (var(--light_primary));
$pale_primary: (var(--pale_primary));
$text_primary: (var(--text_primary));
$text_second: (var(--text_second));
$text_tertiary: (var(--text_tertiary));
$background_white: (var(--background_white));
$background_gray: (var(--background_gray));
$line: (var(--line));
